<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /

  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  RewriteRule ^ index.html [L]
</IfModule>

AddType video/mp4 .mp4
AddType video/webm .webm
AddType audio/mpeg .mp3
AddType audio/mp4 .m4a
AddType font/ttf .ttf
AddType application/manifest+json .webmanifest

<IfModule mod_headers.c>
  <FilesMatch "\.(mp4|webm|mp3|m4a|jpg|jpeg|png|webp|ttf|webmanifest)$">
    Header set Cache-Control "public, max-age=604800"
  </FilesMatch>
</IfModule>
